@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400;500;700&family=Alegreya:wght@400;500;600&display=swap");

* {
  font-family: "Alegreya", serif;
}

:root {
  --main-text-color: #15043f;
  --second-text-color: #919192;
  --third-text-color: #8c174d;
  --icon-color-intro: #8c174d;
  --icon-color-about: #a09abd;
  --btn-bg-intro: #8c174d;
  --btn-bg-hover: darken(var(--btn-bg-intro), 10%);
  --main-bg-color: #f3f3f3;
  --bg-color: #d2c9f8;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  overflow-x: hidden;
}
/*-----------------------------Header-----------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  background-color: var(--bg-color);
}

header img {
  width: 50px;
}

nav ul {
  display: flex;
  gap: 50px; /* Espacement entre les liens*/
}

nav a {
  color: var(--main-text-color);
  font-weight: 700;
  margin-left: 50px;
  font-size: 1.1em;
}

nav a:hover {
  text-decoration: underline; /* Ajout d’un effet visuel au survol*/
}

/*-----------------------------Section 1-----------------------------*/
#intro {
  height: 100vh;
  background-color: var(--bg-color);
  clip-path: polygon(50% 0, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  transition: 0.5s;
}

#intro:hover {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
}

#intro .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--second-text-color);
  width: 85%;
  margin: 0 auto;
}

#intro .content .intro-text {
  text-align: center;
  margin-top: 80px;
  line-height: 1.5em;
}

#intro .content .intro-text h1 {
  font-size: 2.5em;
  color: var(--main-text-color);
}

#intro .content .intro-text h2 {
  font-size: 1.8em;
  color: var(--main-text-color);
  margin: 30px;
  line-height: 2em;
}

#intro .content .intro-text h2 .dynamic-text {
  font-style: italic;
  font-weight: bold;
  color: var(--third-text-color);
}

#intro .content .social-icons {
  margin: 20px 0;
}

#intro .content .social-icons a {
  margin: 20px 0;
}

#intro .content .social-icons a i {
  font-size: 3.3em;
  color: var(--icon-color-intro);
}

#intro .content .social-icons a i:hover {
  color: lighten(var(--btn-bg-intro), 10%);
}

#intro .content .btn-discover {
  background-color: var(--btn-bg-intro);
  color: white;
  padding: 10px 25px;
  font-size: 1.1em;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 50px;
}

#intro .content .btn-discover:hover {
  background-color: darken(var(--btn-bg-intro), 10%);
}

@media screen and (max-width: 1000px) {
  #intro .content .intro-text h1 {
    font-size: 2em;
  }

  #intro .content .intro-text h2 {
    font-size: 1.5em;
  }

  #intro .content .social-icons a i {
    font-size: 2em;
  }

  #intro .content .btn-discover {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  #intro .content .intro-text h1 {
    font-size: 1.5em;
  }

  #intro .content .intro-text h2 {
    font-size: 1.2em;
  }

  #intro .content .social-icons a i {
    font-size: 2em;
  }

  #intro .content .btn-discover {
    font-size: 0.9em;
  }
}

/*-----------------------------Section 2 : A propos-----------------------------*/
#apropos {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin-bottom: 110px;
}

#apropos .container {
  margin: 50px auto;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#apropos .container .card {
  position: relative;
  width: 90%;
  margin: 20px auto;
  background-color: #e4e3e3;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 5px #929292;
}

#apropos .container .top {
  text-align: center;
  margin-bottom: 20px;
}

#apropos .container .top h2 {
  font-size: 2.5em;
  margin: 25px 0;
}

#apropos .container .top p {
  font-size: 1.2em;
  color: var(--second-text-color);
  margin: 0 20px;
}

#apropos .container .bottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px;
}

#apropos .container .bottom article {
  max-width: 500px;
  text-align: center;
  margin: 0 40px;
}

#apropos .container .bottom article h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

#apropos .container .bottom article .txt_bottom {
  margin: 20px 0;
  font-style: italic;
}

#apropos .container .bottom article ul {
  padding: 0;
}

#apropos .container .bottom article ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#apropos .container .bottom article ul li i {
  margin-right: 10px;
  color: var(--icon-color-about);
  font-size: 1.2em;
}

#apropos .container .card .arrow::before {
  width: 60px;
  height: 60px;
  bottom: 0%;
  left: 50%;
  background-color: var(--icon-color-about);
  border-radius: 50px;
  transform: translate(-50%, 50%);
  /* Fleche */
  position: absolute;
  content: "\f107";
  font-family: "FontAwesome";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  color: var(--main-text-color);
}

@media screen and (max-width: 1000px) {
  #apropos .container .top,
  #apropos .container .bottom {
    width: 850px;
  }
}

@media screen and (max-width: 880px) {
  #apropos .container .bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #apropos .container .top {
    width: 100%;
  }

  #apropos .container .right {
    margin: 50px 0;
  }
}

/*-----------------------------Section 3 : Portfolio-----------------------------*/
#portfolio {
  background-color: var(--bg-color);
  padding: 50px 20px;
}

#portfolio .container {
  text-align: center;
}

#portfolio .container .title h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#portfolio .container .title h3 {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: var(--second-text-color);
}

#portfolio .container .projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  grid-template-areas: 
  "proj1 proj2 proj3"
  "proj4 proj5 proj6"
  ". . ."; 
}

.proj1 { grid-area: proj1; }
.proj2 { grid-area: proj2; }
.proj3 { grid-area: proj3; }
.proj4 { grid-area: proj4; }
.proj5 { grid-area: proj5; }
.proj6 { grid-area: proj6; }


#portfolio .container .projects-grid .project {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #111;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#portfolio .container .projects-grid .project:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 15px #111;
}

#portfolio .container .projects-grid .project header {
  padding: 20px;
  background-color: lighten(#d2c9f8, 10%); 
}

#portfolio .container .projects-grid .project header h3 {
  font-size: 1.5em;
  color: var(--second-text-color);
}

#portfolio .container .projects-grid .project header a {
  display: block;
}

#portfolio .container .projects-grid .project header a img {
  width: 100%;
  height: auto;
}

#portfolio .container .projects-grid .project header .description {
  padding: 20px;
}

#portfolio .container .projects-grid .project header .description p {
  font-size: 1em;
  color: var(--second-text-color);
  margin-bottom: 15px;
}

#portfolio .container .projects-grid .project header .description .btn {
  display: inline-block;
  background-color: var(--btn-bg-intro);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#portfolio
  .container
  .projects-grid
  .project
  header
  .description
  .btn:hover {
  background-color: var(--btn-bg-hover);
}
